<div *ngIf="application!=undefined">
    <dx-popup [showTitle]="true" [title]="title" [height]='auto' [(visible)]="inlineCreationVisible" (onHiding)="onHiding($event)">
        prueba
        <div *dxTemplate="let data of 'content'">
            <div class="btn-group button-options inlinecreationbuttons">
                <app-entity-editor #formeditor [viewMode]='viewMode' [viewpanels]='viewPanels' [savedAndContinue]='false'>
                </app-entity-editor>
                <button type="button" class="btn btn-primary css3transition" (click)="onClickedSave($event)">
                    {{savestr}}
                </button>
                <button type="button" class="btn btn-primary css3transition" (click)="onClickedCancel($event)">
                    {{cancelstr}}
                </button>
            </div>
        </div>
    </dx-popup>
</div>