html,
body {
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial;
    color: #5d5d5d;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}
@font-face {
  font-family: 'Digital-7';
  src: url('fonts/Digital-7.eot?#iefix') format('embedded-opentype'),  url('fonts/Digital-7.woff') format('woff'), url('fonts/Digital-7.ttf')  format('truetype'), url('fonts/Digital-7.svg#Digital-7') format('svg');
  font-weight: normal;
  font-style: normal;
}
a:hover{
    text-decoration: underline;
    color: #ec5e11;
}
input,
input.dx-texteditor-input,
textarea.dx-texteditor-input,
select {
    border: none;
    border-radius: 0px !important;
    box-shadow: none !important;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial;
    color: #5d5d5d;
    background: #ddd;
    padding: 8px;
    width: 100%;
    border-radius: 0px;
    height: auto;
}
select {
    padding: 6px;
}
textarea:hover, textarea:focus,
input:hover, input:focus,
button:hover, button:focus,
select:hover, select:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    outline: 0px !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

button,
button.btn{
    border-radius: 0px; 
    font-size: 12px;
}

button:hover,
button.btn:hover{
    background: #368ee0;
    color: white;
}
button:active,
button.btn:active{
    background: #ec5e11;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: white;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: white;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: white;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: white;
}
input:focus, textarea:focus{
    background: #b9d8f4;
}

label{
    display: inline-block;
    max-width: 100%;
    font-size: 12px;
    margin-bottom: 5px;
}

th .toolbarth{
    text-align: center;
    font-size: 12px;
    border: 0;
}

#button-toolbar {
    width: 95px;
    word-break: break-word;
    border: 0px;
}

#toolbar  {
    background: #dddddd;
}

.dx-tabs-wrapper{
    background: #eaeaea;
    font-size: 12px;
}
.dx-tab.dx-tab-selected{
    background-color: #dddddd;
    color: blue;
}

.dx-treeview {
    font-size: 12px;
}

.dx-treeview-node .dx-treeview-node-is-leaf{
    height: 25px;
}