<table style="width: 100%">
    <th>
        Navigation
    </th>
    <tr>
        <dx-tree-view #tree [dataSource]="tenantdata" itemTemplate="itemTemplate" [selectByClick]="true"
            (onItemSelectionChanged)="onItemSelectionChanged($event)" (onItemExpanded)="onItemExpanded($event)">

            <dxo-selection mode="single">
                <!-- "multiple" | "none" -->
            </dxo-selection>
            <div *dxTemplate="let itemObj of 'itemTemplate'">
                <div>
                    <img src="{{itemObj.image}}">
                    {{itemObj.text}}
                </div>
            </div>
        </dx-tree-view>
    </tr>
</table>