<?xml version="1.0"?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <include file="${basedir}/StdLogBase.nlog" />
  <variable name="appTitle" value="UsersService" />
  <variable name="logFileName" value="UsesService" />
  <!--<variable name="servicelayout" value="${longdate} [${threadid}] [${level}] [${logger}] [${ndc}] ${message} ${mdc:item=cost} ${exception:format=tostring}" />-->
  <variable name="servicelayout" value="${longdate} [${threadid}] [${level}] [${logger}] [${ndc}] ${message} ${mdc:item=cost} ${exception:format=tostring}" />
  <targets>
    <target name="fileAsync" xsi:type="AsyncWrapper">
      <target name="file" xsi:type="File" layout="${servicelayout}"
              fileName="${baselogdir}/Logs/${logFileName}.log"
              archiveFileName="${baselogdir}/Logs/archive/${logFileName}.{#}.log"
              archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="false" encoding="utf-8" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="fileAsync" />
  </rules>
</nlog>