<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net46" />
  <package id="Mecalux.ITSW.Application" version="4.56" targetFramework="net46" />
  <package id="Mecalux.ITSW.LibCore" version="4.54" targetFramework="net46" />
  <package id="Mecalux.ITSW.LibCore.Abstraction" version="4.54" targetFramework="net46" />
  <package id="Mecalux.ITSW.LibCore.Abstraction.NLog" version="4.54" targetFramework="net46" />
  <package id="Mecalux.ITSW.LibCore.IoC" version="4.54" targetFramework="net46" />
  <package id="Mecalux.ITSW.LibCore.WinService" version="4.54" targetFramework="net46" />
  <package id="Mecalux.ITSW.PasswordEncrypt" version="4.54" targetFramework="net46" />
  <package id="Mecalux.ITSW.Rules" version="1.0.0.0" targetFramework="net45" />
  <package id="NLog" version="4.3.10" targetFramework="net45" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net46" />
  <package id="PInvoke.BCrypt" version="0.5.111" targetFramework="net46" />
  <package id="PInvoke.Kernel32" version="0.5.111" targetFramework="net46" />
  <package id="PInvoke.NCrypt" version="0.5.111" targetFramework="net46" />
  <package id="PInvoke.Windows.Core" version="0.5.111" targetFramework="net46" />
  <package id="ServiceStack.Text" version="3.9.69" targetFramework="net45" />
  <package id="Validation" version="2.4.18" targetFramework="net46" />
</packages>