<TABLE BORDER style="width: 100%;">
    <TR>
        <TH COLSPAN=5>
            <app-toolbar [panels]="pages"></app-toolbar>
        </TH>
    </TR>
    <TR style="height: 650px;">
        <TD style="width: 15%; vertical-align: top;">
            <app-tree></app-tree>
        </TD>
        <TD style="width: 100%; vertical-align: top; height: 740px;">
            <app-workarea></app-workarea>
        </TD>
    </TR>
</TABLE>
<TABLE style="width: 100%; background: #015198; color: white">
    <TR>
        <TD style="width: 35%; vertical-align: top;">Store Online [Version]</TD>
        <TD style="width: 100%; vertical-align: top;">EasyWMS - License: ENTERPRISE</TD>
    </TR>
</TABLE>

<app-application *ngIf='shownewapplication' [title]='opapplication' [application]="selectapp" [viewMode]='viewMode'
    (save)="onApplicationCreationSaved($event)" (cancel)="onApplicationCreationCanceled()"></app-application>

<app-languages *ngIf='showlanguages' (close)='onCloseLanguage()'></app-languages>